*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo{
    width: 100px;
    height: 100px;
}

html {
    font-size: 62.5%;
}

header{
    padding-top: 15px;
}

header h1{
    font-size: 3.2rem;
    margin: 20px;
    color: crimson;
}

.divider{
    border-bottom: 1px solid black;
    width: 100%;
}

.header-links, .copyright{
    padding: 15px;
}

.nav-links{
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.phone-container, footer, header, .description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description p{
    margin:5px 0;
}

.phone-image{
    width: 120px;
}
.phone-big-image{
    width: 240px;
}

#index, #about, .form, #siemens, #nokia, #ericsson{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 100px;
    text-align: center;
}

.text-block{
    margin-left: 15px;
}

.text-block p:last-of-type{
    margin-top: 15px;
}

.subs{
    text-align: right;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    text-align: left;
}

.info:first-of-type{
    margin-top: 15px;
}

button:first-of-type{
    margin-right: 5px;
}